img{
    vertical-align: middle;
    border-style: none;
    
}

.house{
    position: relative;
}
h3{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: orange;
    width: 100%;
    text-align: center;
}

